body {
    margin: 0;
    padding: 0;
    /* background-color: ; */
}

.body-wrapper {
    margin: 10px;
    /* height: 100vh; */
}

#tab_menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 0 1em;
}

#tab_menu li {
    width: 33.333%;
    padding: 0;
    margin: 0 1px 0 0;
    text-align: center;
    list-style: none;
    background: #ccb591;
}

#tab_menu li:last-child {
    margin-right: 0;
}

#tab_menu li.selected {
    background: #b79662;
}

#tab_menu li:hover {
    background: #b79662;
}

#tab_menu li a {
    display: block;
    padding: 12px 0 8px;
    color: #fff;
    text-decoration: none;
    font-size: 125%;
}

#tab_menu li img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    padding: 13.5px .4em 13.5px 0;
}

.content {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

/* ペイント */
/* .paint-page {
    position: relative;
    overflow: hidden;
}

.paint-img {
    position: absolute;
    opacity: .5;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.paint-canvas {
    margin: 2em auto;
    width: 320px;
    height: 320px;
    /* z-index: 999; */
}

canvas {
    border: 2px solid gray;
    background-color: #fff;
}

.btn {
    width: 65%;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.paint_btn {
    padding: 0 10px;
    line-height: 3em;
}

.paint-slide {
    margin-top: 1em;
}

#paint-input {
    width: 200px;
    height: 16px;
}

#slide-list option {
    color: blue;
}

.btn_fin {
    width: 65%;
    margin: 1.5em auto 0 auto;
    text-align: center;
}

#paint_finish {
    width: 100%;
    line-height: 3em;
}

/* 選択 */
.wrapper {
    text-align: center;
}

#photo {
    width: 110px;
    height: 110px;
}

.slide {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #8acdff;
    height: 16px;
    border-radius: 10px;
    border: solid 2px #dff1ff;
    outline: 0;
    box-shadow: 0 0 7px rgb(0, 161, 255);
}

.reload {
    margin-left: 2em;
}

#dst,
#src {
    border: solid 1px gray;
    display: block;
    margin: 5px auto;
}

#dst {
    width: 300px;
    height: 300px;
}

.btn_fin2 {
    width: 35%;
    margin: .5em auto 0 auto;
}

.detail-page {
    animation: fadein 1s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}