body, button, a {
    color: #444;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Bad Script', cursive; */
}

.body-wrapper {
    margin: 10px;
    /* height: 100vh; */
}

#tab_menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 0 1em;
}

#tab_menu li {
    width: 33.333%;
    padding: 0;
    margin: 0 1px 0 0;
    text-align: center;
    list-style: none;
    background: #ccb591;
}

#tab_menu li:last-child {
    margin-right: 0;
}

#tab_menu li.selected {
    background: #b79662;
}

#tab_menu li:hover {
    background: #b79662;
}

#tab_menu li a {
    display: block;
    padding: 12px 0 8px;
    color: #fff;
    text-decoration: none;
    font-size: 125%;
}

#tab_menu li img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    padding: 13.5px .4em 13.5px 0;
}

.content {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

#detail-btn {
    line-height: 2em;
    font-size: 16px;
}

#detail-btn a {
    text-decoration: none;
}

/* ペイント */
/* .paint-page {
    position: relative;
    overflow: hidden;
}

.paint-img {
    position: absolute;
    opacity: .5;
    top: 0;
    width: 100%;
    z-index: 1;
} */

.paint-canvas {
    width: 100%;
    margin: 1.5em auto 0 auto;
    text-align: center;
}

#canvas {
    width: 320px;
    height: 320px;
}

canvas {
    border: 2px solid gray;
    /* background-color: #fff; */
}

.btn {
    width: 70%;
    margin: 1em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.paint_btn {
    text-align: center;
    padding: 10px;
    border: 2px solid #d7c5a9;
    border-radius: 50%;
    background-color: #fff;
}

.paint-icon.selected2 {
    /* border: 1px solid red; */
    background-color: #d7c5a9;
}

.slide {
    margin-top: 1em;
    text-align: center;
}

.paint-slider {
    width: 200px;
    height: 16px;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
}

.icon {
    width: 30px;
}

.icon-erasser {
    width: 35px;
}

.btn_fin {
    width: 65%;
    margin: 1.5em auto 0 auto;
    text-align: center;
}

.finish_btn {
    width: 100%;
    line-height: 3em;
}

/* 選択 */
.wrapper {
    text-align: center;
}

.file_input {
    display: none;
}

.file {
    font-size: 12px;
    line-height: 1.2;
    color: #444;
    background-color: #fff;
    border: 2px solid #ccb591;
    border-radius: 5px;
    padding: 5px;
}

.file:active {
    background-color: #ccb591;
    color: #fff;
}

#photo {
    width: 110px;
    height: 110px;
    margin-top: 1em;
}

.slide {
    text-align: center;
    margin: 1em;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #a0d8ef;
    height: 16px;
    border-radius: 10px;
    border: solid 2px #fff;
    outline: 0;
    box-shadow: 0 0 7px #2ca9e1;
}

.reload {
    margin-left: 2em;
}

#dst,
#src {
    border: solid 1px gray;
    display: block;
    margin: 5px auto;
}

#dst {
    width: 300px;
    height: 300px;
}

/* .btn_fin2 {
    width: 35%;
    margin: .5em auto 0 auto;
} */


/* アプリ説明ページ */
.detail-page {
    animation: fadein 1s forwards;
}

.detail-centence {
    text-align: center;
    font-size: 14px;
    line-height: 2em;
}

header {
    height: 4em;
    /* border-bottom: 1px solid gray; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.back-btn {
    text-decoration: none;
    line-height: 4em;
    font-size: 16px;
    padding-left: .5em;
}

.detail-h {
    text-align: center;
    margin-top: 1.5em;
}

.detail-centence p {
    margin: 2em 0;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}