body, button, a {
    color: #444;
    font-family: "M PLUS Rounded 1c";
}

body {
    margin: 0;
    padding: 0;
}

.body-wrapper {
    /* margin: 5px; */
    height: 110vh;
    overflow: hidden;
    background-image: url(../images/backImg1.png);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 150%;
}

#tab_menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#tab_menu li {
    width: 33.333%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    background: #f7b45c;
    border: 1px solid #fff;
}

#tab_menu li:last-child {
    margin-right: 0;
}

#tab_menu li.selected {
    background: #f99411;
}

#tab_menu li:hover {
    background: #f99411;
}

#tab_menu li a {
    display: block;
    padding: 12px 0 8px;
    color: #fff;
    text-decoration: none;
    font-size: 125%;
}

#tab_menu li img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    padding: 13.5px .4em 13.5px 0;
}

/* トップページ */
.top-page {
    text-align: center;
    margin-top: 15%;
    font-size: 50px;
}

.top-page p {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 250px;
    margin: 0 auto .5em auto;
}

#detail-btn {
    background: #FFF;
    border: 0 solid #f99411;
    box-shadow: 0 7px 9px -4px #f99411, 0 7px 9px -4px #f99411;
    height: 3em;
    line-height: 2em;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#detail-btn a {
    text-decoration: none;
}

/* ペイント */
.sub-back {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.155);
}

.paint-page {
    /* overflow: hidden; */
    background-image: url(../images/pan_back.png);
    background-size: 250px;
    background-position-x: center;
    background-position-y: 23%;
    background-repeat: no-repeat;
    padding: 1em 0;
}

.paint-yajirusi {
    width: 95%;
    margin: -0.5em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.paint-yajirusi button {
    padding: .3em 1.5em;
    background-color: #fff;
    border: 3px solid #f99411;
    border-radius: 5px;
}

.paint-yajirusi img {
    width: 2.5em;
    height: 2.5em;
}

.paint-canvas {
    position: relative;
    margin: 1em auto 0 auto;
    text-align: center;
}

.paint-canvas,
.wrapper2 {
    position: relative;
}

.btn {
    width: 70%;
    margin: 2.5em auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.paint_btn {
    text-align: center;
    padding: 7px;
    border: 3px solid #f99411;
    border-radius: 50%;
    background-color: #fff;
}

.paint-icon.selected2 {
    border: 3px solid #fff;
    background-color: #f99411;
}

.slide1 {
    margin-top: 0.3em;
    text-align: center;
}

.paint-slider {
    width: 200px;
}

datalist {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr; */
    width: 200px;
    margin: 0 auto;
    /* font-size: 14px; */
}

.icon {
    width: 30px;
}

.icon-erasser {
    width: 35px;
}

.btn_fin {
    width: 65%;
    margin: 1em auto 0 auto;
    text-align: center;
}

.finish_btn {
    width: 100%;
    line-height: 2.5em;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    border: 2px solid #f99411;
    border-bottom: 7px solid #ee921a;
    border-radius: 0.3rem;
}

.finish_btn:active {
    margin-top: 5px;
    border-bottom: 2px solid #f99411;
}

/* 選択 */
.select-page {
    background-image: url(../images/pan_back.png);
    background-repeat: no-repeat;
    background-size: 290px;
    background-position-x: center;
    background-position-y: 26%;
    padding: 1em 0;
}

.wrapper {
    text-align: center;
    margin-bottom: 1.5em;
}

.file_input {
    display: none;
}

.file,
#reload_btn {
    font-size: 16px;
    line-height: 1.2;
    color: #444;
    background-color: #fff;
    border: 2px solid #f99411;
    border-radius: 5px;
    padding: 5px;
}

.file:active {
    background-color: #f99411;
    color: #fff;
}

.slide2 {
    text-align: center;
    margin: 4em 1em 1em 1em;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #a0d8ef;
    height: 16px;
    border-radius: 10px;
    border: solid 2px #fff;
    outline: 0;
    box-shadow: 0 0 7px #2ca9e1;
}

.reload {
    margin-left: 2em;
}

#dst,
#src {
    display: block;
    margin: 5px auto;
}

#dst {
    width: 230px;
    height: 230px;
}

/* ポップアップ */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup.view {
    display: flex;
}

.popup__inner {
    display: inline-block;
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: relative;
}

.popup__title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.img-box {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #555;
    margin: 0 auto;
}

.newQR {
    position: absolute;
    right: 0.1em;
    bottom: 0.1em;
    border: 2px dashed #fff;
    background-color: #e0e0e0;
    width: 50px;
    height: 50px;
}

.newQR:before {
    content: "ＱＲ";
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    font-size: 12px;
}

.pop-btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pop-btn {
    border: 2px solid #f99411;
    border-radius: 5px;
    background-color: #fff;
    width: 7em;
    height: 3em;
    line-height: 3em;
    text-align: center;
}

.submit-btn {
    width: 13em;
    height: 4em;
    line-height: 4em;
    background-color: #f99411;
    position: relative;
    overflow: hidden;
}

.close label {
    display: block;
    font-size: 14px;
}

.btn__text {
    position: absolute;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    letter-spacing: .7em;
    text-indent: .7em;
    font-weight: bold;
    transition: all 0.3s;
}

.btn__text:nth-child(1) {
    top: 0;
}

.btn__text:nth-child(2) {
    top: -100%;
}

.submit-btn:hover .btn__text:nth-child(1) {
    top: 100%;
}

.submit-btn:hover .btn__text:nth-child(2) {
    top: 0;
}

/* アプリ説明ページ */
.detail-page {
    animation: fadein 1s forwards;
    height: 100vh;
    color: #1f1f1f;
}

.sub-back2 {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.39);
}

header {
    position: relative;
    height: 3.5em;
    background-color: #f9f0e76b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.189);
    z-index: 999;
}

.back-btn {
    text-decoration: none;
    line-height: 3.5em;
    font-size: 14px;
    padding-left: 1em;
}

.detail-h {
    text-align: center;
    padding-top: 1.8em;
    margin: 0;
}

.detail-centence {
    text-align: center;
    font-size: 15px;
    line-height: 3em;
    font-weight: bold;
}

.detail-centence p {
    margin: 3em 0;
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}