/* ペイント */
.paint-canvas {
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

canvas {
    margin: 1em 0;
    border: 2px solid gray;
    background-color: #fff;
}

.btn {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btn_fin {
    width: 35%;
    margin: 1.5em auto 0 auto;
}

#btn_finish {
    width: 100%;
    text-align: center;
}

/* 選択 */
.wrapper {
    text-align: center;
}

#photo {
    width: 90px;
    height: 90px;
}

.slide {
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #8acdff;
    height: 14px;
    width: 100%;
    border-radius: 10px;
    border: solid 3px #dff1ff;
    outline: 0;
    box-shadow: 0 0 3px rgb(0, 161, 255);
}

.reload {
    margin-left: 2em;
}

#dst,
#src {
    border: solid 1px gray;
    display: block;
    margin: 10px auto;
}

.tabbar {
    height: 50px;
    display: flex;
    justify-content: center;
}

.tabbar img {
    margin: 3px 2em;
}

* {
  box-sizing: border-box;
  padding: 0;
}
ul {
  list-style-type: none;
}
.tab-area {
    margin-top: 100px;
  display: flex;
  border: 2px solid;
  cursor: pointer;/* カーソルポインターに */
}
.tab {
  width: calc(100%/3);
  padding: 5px;
  text-align: center;
}
.tab:nth-child(n+2) {
  border-left: 2px solid;
}
.tab.active {
  background-color: #000;
  color: #fff;
}
.panel {
  display: none;
  text-align: center;
}
.panel.active {
  display: block;
}